<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
</head>
<body>
	<div id="map" style="width: 600px; height: 400px"></div>

	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script>

		var map = L.map('map').locate({setView: true, maxZoom: 15})
		L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map)

		var barLayer

		map.on('dragend', resetBars)
		map.on('zoomend', resetBars)

		function getBarsFromMapBounds(callback) {
			bounds = map.getBounds()
			nelat = bounds._northEast.lat
			nelng = bounds._northEast.lng
			swlat = bounds._southWest.lat
			swlng = bounds._southWest.lng
			bars_url = "bars.json?sw_latitude="+swlat+"&sw_longitude="+swlng+"&ne_latitude="+nelat+"&ne_longitude="+nelng//+"&center_latitude="+clat+"&center_longitude="
			$.getJSON(bars_url, callback)
		}

		function placeBars(bars_array) {
			console.log(bars_array)
			markers = _.map(bars_array, function(bar) {
				marker = L.marker([bar.lat,bar.lng]).bindPopup(bar.name + ": " + bar.id)
				return marker
			})
			barLayer = L.layerGroup(markers)
			barLayer.addTo(map)
		}

		function clearBars() {
			barLayer.clearLayers()
		}

		function resetBars(e) {
			if(barLayer){
				clearBars()
			}
			getBarsFromMapBounds(placeBars)
		}

	</script>
</body>
</html>
